@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300;400;600&display=swap');


* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Stick No Bills', sans-serif;
}



.Home{
  
  position: relative;
}
.container-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-home h1,p{
  text-align: center;
}

.container-home h2 {
  margin-bottom: .2em;
}

.container-home p {
  margin-bottom: 2em;
}

.pokedex {
  margin-top: 5em;

}

.gif {
  margin-bottom: 3em;
}

.container-input {
  text-align: center;
}

.container-div{
  position: relative;
  
}

.flag-red {
  height: 4em;
}
.flag-black{
  height: 3em;
}
.flag-red {
  background-color: red;
}

.flag-black {
  background-color: black;
}

.circle-black { 
  padding: .3em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left:47%;

  bottom: 10%;
}

.circle-white {
  background-color: white;
  padding: .5em;
  border-radius: 50%;

}

.circle-black2 {
  background-color: black;
  padding: .7em;
  border-radius: 50%;
}

.circle-black-mate {
  background-color: rgb(13, 12, 12);
  padding: .8em;
  border-radius: 50%;
}

.form-home  input{
  border: none;
  padding: 1em;
  background-color: #f6f6f6;
  border-radius: 5px;
  font-size: 20px;
}

.form-home button {
  border:none;
  padding: 1em;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

footer {
  margin-top: 5em;
}

/*pokedex main */

header .circle-black { 
  padding: .3em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left:83%;
  bottom: -12%;
}

header .flag-red {
  height: 6em;
}
header .flag-black{
  height: 3em;
}
header .flag-red {
  background-color: red;
}

header .flag-black {
  background-color: black;
}

header .circle-white {
  background-color: white;
  padding: .8em;
  border-radius: 50%;

}

header .circle-black2 {
  background-color: black;
  padding: .7em;
  border-radius: 50%;
}

header .circle-black-mate {
  background-color: rgb(26, 24, 24);
  padding: .9em;
  border-radius: 50%;
}

header img {
  position: absolute;
  top:20%;
  left:6%;
}

.name-user {
  color: red;
  font-weight: 600;
}

.welcome {
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
}
/* poke cards*/
.poke-card {
  text-align: center;
  box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  position: relative;
  border-radius: 10px;
  border: solid #2cb9b7 10px;
  cursor: pointer;
}
.poke-card img {
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.poke-card hr {
  margin-bottom: 1em;
  background-color: rgb(158, 158, 158,.8);
}

.poke-card p {
  margin-bottom: 1em;
  color:rgb(87, 87, 87);
}

.container-ul {
  display: flex;
  justify-content: center;
  gap:30px;
}



.poke-card ul {
  text-align: start;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 4em;
}

.container-info {
  padding: 1em;
  margin-top: 10em;
  background-color: white;

}

.container-info h2 {
  margin-top: 3em;
}

/*PAGE ERROR*/

.text-error {
  text-align: center;
  margin: 2em;
  color: red;
  
}

/*INPUT SEARCH*/

.select {
  margin-top: 2em;
  border: none;
  padding: .6em;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  background-color: #F6F6F6;
  cursor: pointer;
  font-size: 1.1em;
  outline: none;
}

.search-input input {
  outline: none;
}

/*PAGINATION*/

.container-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top:2em ;
  color: red;
  font-weight: 600;
}

.container-pagination ul {
  display: flex;
  gap: 10px;
}
.container-pagination ul li,span {
  cursor: pointer;
}

.sub-container-pagination {
  background-color: #F6F6F6;
  display: flex;
  gap: 10px;
  padding: .5em;
  border-radius: 10px;
  cursor: auto;
}

/*Colaborators*/
.footer-colaborators {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: #ad3100;
  margin-top: 2em;
}
.footer-colaborators article {
  background-color: #000000;
  border-radius: 20px;
  border: solid 8px #ad3100;
  padding: 1em;
  
}

.footer-colaborators h2 {
  font-size: 2em;
}
.container-colaborators {
  display: flex;
  justify-content: center;
  gap: 5em;
  flex-wrap: wrap;
  margin-top: 2em;
}
.miguel{
width: 110px;
height: 150px;
border-radius: 50%;

}

.gabriel{
width: 150px;
height: 150px;
border-radius: 50%;
}
.footer-colaborators ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-colaborators ul {
  margin-top: 10px;
}
.footer-colaborators svg {
  font-size: 2em;
  color: #ad3100;
}

.footer-colaborators svg:hover {
  color: rgb(95, 8, 114);
  transition: 1s;
}


@media (max-width:1024px){

  .Home{
    height: 100vh;
    position: relative;
  }
  .container-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container-home h1,p{
    text-align: center;
  }
  
  .container-home h2 {
    margin-bottom: .2em;
  }
  
  .container-home p {
    margin-bottom: 2em;
  }
  
  .pokedex {
    margin-top: 5em;
  
  }
  
  .gif {
    margin-bottom: 3em;
  }
  
  .container-input {
    text-align: center;
  }
  
  .container-div{
    position: relative;
    width: 100vw;
  }
  
  .flag-red {
    height: 4em;
  }
  .flag-black{
    height: 3em;
  }
  .flag-red {
    background-color: red;
  }
  
  .flag-black {
    background-color: black;
  }
  
  .circle-black { 
    padding: .3em;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left:47%;
  
    bottom: 10%;
  }
  
  .circle-white {
    background-color: white;
    padding: .5em;
    border-radius: 50%;
  
  }
  
  .circle-black2 {
    background-color: black;
    padding: .7em;
    border-radius: 50%;
  }
  
  .circle-black-mate {
    background-color: rgb(13, 12, 12);
    padding: .8em;
    border-radius: 50%;
  }
  
  .form-home  input{
    border: none;
    padding: 1em;
    background-color: #f6f6f6;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .form-home button {
    border:none;
    padding: 1em;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 20px;
  }
  
  footer {
    position: absolute;
    top: 100%;
    margin-top: 20em;
  }

  /*pokedex main */

header .circle-black { 
  padding: .3em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left:83%;
  bottom: -12%;
}

header .flag-red {
  height: 6em;
}
header .flag-black{
  height: 3em;
}
header .flag-red {
  background-color: red;
}

header .flag-black {
  background-color: black;
}

header .circle-white {
  background-color: white;
  padding: .8em;
  border-radius: 50%;

}

header .circle-black2 {
  background-color: black;
  padding: .7em;
  border-radius: 50%;
}

header .circle-black-mate {
  background-color: rgb(26, 24, 24);
  padding: .9em;
  border-radius: 50%;
}

header img {
  position: absolute;
  top:20%;
  left:6%;
}

.name-user {
  color: red;
  font-weight: 600;
}

.welcome {
  padding: 2em;
  font-size: 1.5em;
}
/* poke cards*/
.poke-card {
  text-align: center;
  box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  position: relative;
  border-radius: 10px;
  border: solid #2cb9b7 8px;
}
.poke-card img {
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.poke-card hr {
  margin-bottom: 1em;
  background-color: rgb(158, 158, 158,.8);
}

.poke-card p {
  margin-bottom: 1em;
  color:rgb(87, 87, 87);
}

.container-ul {
  display: flex;
  justify-content: center;
  gap:30px;
}

.container-ul li span {
  color: #2cb9b7;
}

.poke-card ul {
  text-align: start;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 4em;
}

.container-info {
  padding: 1em;
  margin-top: 10em;
  background-color: white;

}

.container-info h2 {
  margin-top: 3em;
}
}

/*PAGE ERROR*/

.text-error {
  text-align: center;
  margin: 2em;
  color: red;
  
}

.text-error img {
 width: 400px;
}

@media (max-width:724px){
  .Home{
    height: 100vh;
    position: relative;
  }
  .container-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container-home h1,p{
    text-align: center;
  }
  
  .container-home h2 {
    margin-bottom: .2em;
  }
  
  .container-home p {
    margin-bottom: 2em;
  }
  
  .pokedex {
    margin-top: 5em;
  
  }
  
  .gif {
    margin-bottom: 3em;
  }
  
  .container-input {
    text-align: center;
  }
  
  .container-div{
    position: relative;
    width: 100vw;
  }
  
  .flag-red {
    height: 4em;
  }
  .flag-black{
    height: 3em;
  }
  .flag-red {
    background-color: red;
  }
  
  .flag-black {
    background-color: black;
  }
  
  .circle-black { 
    padding: .3em;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left:47%;
  
    bottom: 10%;
  }
  
  .circle-white {
    background-color: white;
    padding: .5em;
    border-radius: 50%;
  
  }
  
  .circle-black2 {
    background-color: black;
    padding: .7em;
    border-radius: 50%;
  }
  
  .circle-black-mate {
    background-color: rgb(13, 12, 12);
    padding: .8em;
    border-radius: 50%;
  }
  
  .form-home  input{
    border: none;
    padding: 1em;
    background-color: #f6f6f6;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .form-home button {
    border:none;
    padding: 1em;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 20px;
  }
  
  footer {
    position: absolute;
    top: 100%;
    margin-top: 20em;
  }

  /*pokedex main */

header .circle-black { 
  padding: .3em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left:83%;
  bottom: -12%;
}

header .flag-red {
  height: 6em;
}
header .flag-black{
  height: 3em;
}
header .flag-red {
  background-color: red;
}

header .flag-black {
  background-color: black;
}

header .circle-white {
  background-color: white;
  padding: .8em;
  border-radius: 50%;

}

header .circle-black2 {
  background-color: black;
  padding: .7em;
  border-radius: 50%;
}

header .circle-black-mate {
  background-color: rgb(26, 24, 24);
  padding: .6em;
  border-radius: 50%;
}

header img {
  position: absolute;
  top:30%;
  left:6%;
  width: 300px;
}

.name-user {
  color: red;
  font-weight: 600;
}

.welcome {
  padding: 2em;
  font-size: 1.5em;
}
/* poke cards*/
.poke-card {
  text-align: center;
  box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  position: relative;
  border-radius: 10px;
  border: solid #2cb9b7 8px;
}
.poke-card img {
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.poke-card hr {
  margin-bottom: 1em;
  background-color: rgb(158, 158, 158,.8);
}

.poke-card p {
  margin-bottom: 1em;
  color:rgb(87, 87, 87);
}

.container-ul {
  display: flex;
  justify-content: center;
  gap:30px;
}

.container-ul li span {
  color: #2cb9b7;
}

.poke-card ul {
  text-align: start;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 4em;
}

.container-info {
  padding: 1em;
  margin-top: 10em;
  background-color: white;

}

.container-info h2 {
  margin-top: 3em;
}
/*PAGE ERROR*/

.text-error {
  text-align: center;
  margin: 2em;
  color: red;
  font-size: .8em;
  
}

.text-error img {
 width: 350px;
}
}

@media (max-width:480px){
  .Home{
    height: 100vh;
    position: relative;
  }
  .container-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container-home h1,p{
    text-align: center;
  }
  
  .container-home h2 {
    margin-bottom: .2em;
  }
  
  .container-home p {
    margin-bottom: 2em;
  }
  
  .pokedex {
    margin-top: 5em;
    width: 300px;
  }
  
  .gif {
    margin-bottom: 3em;
    width: 200px;
  }
  
  .container-input {
    text-align: center;
  }
  
  .container-div{
    position: relative;
    width: 100vw;
  }
  
  .flag-red {
    height: 4em;
  }
  .flag-black{
    height: 3em;
  }
  .flag-red {
    background-color: red;
  }
  
  .flag-black {
    background-color: black;
  }
  
  .circle-black { 
    padding: .3em;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left:43%;
    bottom: 10%;
  }
  
  .circle-white {
    background-color: white;
    padding: .5em;
    border-radius: 50%;
  
  }
  
  .circle-black2 {
    background-color: black;
    padding: .7em;
    border-radius: 50%;
  }
  
  .circle-black-mate {
    background-color: rgb(13, 12, 12);
    padding: .8em;
    border-radius: 50%;
  }
  
  .form-home  input{
    border: none;
    padding: .5em;
    background-color: #f6f6f6;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .form-home button {
    border:none;
    padding: .5em;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 1em;
  }
  
  footer {
    position: absolute;
    top: 100%;
    margin-top: 10em;
  }
  /*pokedex main */

header .circle-black { 
  padding: .3em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left:75%;
  bottom: -10%;
}

header .flag-red {
  height: 6em;
}
header .flag-black{
  height: 3em;
}
header .flag-red {
  background-color: red;
}

header .flag-black {
  background-color: black;
}

header .circle-white {
  background-color: white;
  padding: .8em;
  border-radius: 50%;

}

header .circle-black2 {
  background-color: black;
  padding: .7em;
  border-radius: 50%;
}

header .circle-black-mate {
  background-color: rgb(26, 24, 24);
  padding: .5em;
  border-radius: 50%;
}

header img {
  position: absolute;
  top:36%;
  left:5%;
  width: 250px;
}

.name-user {
  color: red;
  font-weight: 600;
}

.welcome {
  padding: 2em;
  font-size: 1.5em;
}
/* poke cards*/
.poke-card {
  text-align: center;
  box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  position: relative;
  border-radius: 10px;
  border: solid #2cb9b7 8px;
}
.poke-card img {
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.poke-card hr {
  margin-bottom: 1em;
  background-color: rgb(158, 158, 158,.8);
}

.poke-card p {
  margin-bottom: 1em;
  color:rgb(87, 87, 87);
}

.container-ul {
  display: flex;
  justify-content: center;
  gap:30px;
}

.container-ul li span {
  color: #2cb9b7;
}

.poke-card ul {
  text-align: start;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 4em;
}

.container-info {
  padding: 1em;
  margin-top: 10em;
  background-color: white;

}

.container-info h2 {
  margin-top: 3em;
}

/*PAGE ERROR*/

.text-error {
  text-align: center;
  margin: 2em;
  color: red;
  font-size: .8em;
  
}

.text-error img {
 width: 250px;
}
}

@media (max-width:375px){
  .Home{
    height: 100vh;
    position: relative;
  }
  .container-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container-home h1,p{
    text-align: center;
  }
  
  .container-home h2 {
    margin-bottom: .2em;
  }
  
  .container-home p {
    margin-bottom: 2em;
  }
  
  .pokedex {
    margin-top: 5em;
    width: 300px;
  }
  
  .gif {
    margin-bottom: 3em;
    width: 200px;
  }
  
  .container-input {
    text-align: center;
  }
  
  .container-div{
    position: relative;
    width: 100vw;
  }
  
  .flag-red {
    height: 4em;
  }
  .flag-black{
    height: 3em;
  }
  .flag-red {
    background-color: red;
  }
  
  .flag-black {
    background-color: black;
  }
  
  .circle-black { 
    padding: .3em;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left:43%;
    bottom: 10%;
  }
  
  .circle-white {
    background-color: white;
    padding: .5em;
    border-radius: 50%;
  
  }
  
  .circle-black2 {
    background-color: black;
    padding: .7em;
    border-radius: 50%;
  }
  
  .circle-black-mate {
    background-color: rgb(13, 12, 12);
    padding: .8em;
    border-radius: 50%;
  }
  
  .form-home  input{
    border: none;
    padding: .5em;
    background-color: #f6f6f6;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .form-home button {
    border:none;
    padding: .5em;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 1em;
    margin-top: 1em;
  }
  
  footer {
    position: absolute;
    top: 100%;
    margin-top: 10em;
  }
 /*pokedex main */

header .circle-black { 
  padding: .3em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left:75%;
  bottom: -10%;
}

header .flag-red {
  height: 4em;
}
header .flag-black{
  height: 3em;
}
header .flag-red {
  background-color: red;
}

header .flag-black {
  background-color: black;
}

header .circle-white {
  background-color: white;
  padding: .8em;
  border-radius: 50%;

}

header .circle-black2 {
  background-color: black;
  padding: .6em;
  border-radius: 50%;
}

header .circle-black-mate {
  background-color: rgb(26, 24, 24);
  padding: .5em;
  border-radius: 50%;
}

header img {
  position: absolute;
  top:25%;
  left:5%;
  width: 200px;
}

.name-user {
  color: red;
  font-weight: 600;
}

.welcome {
  padding: 1em;
  font-size: 1.5em;
}
/* poke cards*/
.poke-card {
  text-align: center;
  box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  position: relative;
  border-radius: 10px;
  border: solid #2cb9b7 8px;
}
.poke-card img {
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.poke-card hr {
  margin-bottom: 1em;
  background-color: rgb(158, 158, 158,.8);
}

.poke-card p {
  margin-bottom: 1em;
  color:rgb(87, 87, 87);
}

.container-ul {
  display: flex;
  justify-content: center;
  gap:30px;
}

.container-ul li span {
  color: #2cb9b7;
}

.poke-card ul {
  text-align: start;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 4em;
}

.container-info {
  padding: 1em;
  margin-top: 10em;
  background-color: white;

}

.container-info h2 {
  margin-top: 3em;
}
/*PAGE ERROR*/

.text-error {
  text-align: center;
  margin: 2em;
  color: red;
  font-size: .8em;
  
}

.text-error img {
 width: 220px;
}
}

